<!DOCTYPE html>
<html>
<head>
	<title>Flask Server</title>
	<script src="http://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
	<script>
		$(document).ready(function () {
		    console.log('document ready');
		    $('#selector').change(function () {
		        a = $('#selector option:selected').data("item-id");
		        $.ajax({
		        	url: '/req_items/' + a,
		        	type: 'GET',
		        	success: function(res) {
		        		add_elements(res);
		        	}
		        })
		    });
		});

		function add_elements(res){
  			res.forEach(function(item){
  				var newLi = document.createElement('li');
  				list.appendChild(newLi);
  				newLi.innerHTML = item[1];
  				console.log(item[1]);
  			});
		}
	</script>
	<select id="selector">
		<option disabled selected value>Выберите язык</option>
		{% for item in db %}
		<option data-item-id="{{ item[0] }}">{{ item[1] }}</option>
		{% endfor %}
	</select>
	<ul id="list">
		<li>Значение не выбрано</li>
	</ul>
</body>
</html>